# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Output
output/